/* nav related styles */

body{
    font-family:cursive;

}

.color-r{
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    
}

.HireBtn{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 5px;

}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}


nav li{
    list-style: none;
    margin-right: 40px;
}

nav a{
    text-decoration: none;
    /* color: ; */
}














